

header{
    background-color: #C30031;
    color:white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 24px;
    margin: 0;
    padding: 0;
}

nav a{
    color: white;
    text-decoration: none;
    font-size: 2rem;
}



footer{
    Background-color: #C30031;
    color: white;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

footer h2{
    margin-bottom: 20px;
    font-size: 2rem;
}

footer p{
    margin: 24px 0;
    font-size: 1.2rem;
}

.Social-media ul{
    list-style: none;
    display: flex;
    gap: 16px;
    padding: 0;
}

.Social-media button{
    background: none;
    border: none;
    cursor: pointer;
}

.Social-media img{
    width: 32px;
    height: 32px;   
}