
body{
    margin: 0;
    padding: 0;
}

/* HEADER */

header{
    background-color: #C30031;
    color:white;
    padding: 0.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 24px;
    margin: 0;
    padding: 0;
}

nav a{
    color: white;
    text-decoration: none;
    font-size: 2rem;
}



/* FOOTER */

footer{
    Background-color: #C30031;
    color: white;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

footer h3{
    margin-bottom: 20px;
    font-size: 3rem;
}

footer p{
    margin: 24px 0;
    font-size: 1.4rem;
}

.Social-media ul{
    list-style: none;
    display: flex;
    gap: 16px;
    padding: 0;
}

.Social-media button{
    background: none;
    border: none;
    cursor: pointer;
}

.Social-media img{
    width: 32px;
    height: 32px;   
}



/* HOME HERO SECTION */

.home-hero img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
    margin-bottom: 8rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* HOME MAIN */

.Home{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 0 3rem 4rem 3rem;
    max-width: 1200px;
    margin: auto;
}

.info-box{
    display:flex;
    align-items:stretch;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 80px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.info-box img{
    width: 50%;
    object-fit: cover;
}

.info-box .Hometext {
    color: white;
    width: 50%;
    padding: 3rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;    
    font-size: 2.4rem; 
}

.info-box h2 {
    width: 100%;         
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 0;
    font-size: 4.2rem;
}


.blue {background-color:#0064C8}
.green {background-color:#45A434}
.orange {background-color:#E26A00}
