

header{
    background-color: #C30031;
    color:white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 24px;
    margin: 0;
    padding: 0;
}

nav a{
    color: white;
    text-decoration: none;
    font-size: 2rem;
}