
body{
    margin: 0 auto;
    padding: 0;
    max-width: 100%;
    width: 100%;
    font-family: sans-serif;
    line-height: 1.5;
    overflow-x: hidden;
}



/* HEADER */

header{
    background-color: #C30031;
    color:white;
    padding: 0.6rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: clamp(1.6rem, 2vw, 1.6rem);
    gap: 1rem;

}

nav ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem;
    margin: 0;
    padding: 0;
}

nav a{
    color: white;
    text-decoration: none;
    font-size: clamp(2rem, 2.5vw, 2rem);
}



/* FOOTER */

footer{
    Background-color: #C30031;
    color: white;
    padding: 40px 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
    align-items: flex-start;
}

footer h3{
    margin-bottom: 20px;
    font-size: clamp(1.6rem, 3vw, 3rem);
}

footer p{
    margin: 24px 0;
    font-size: clamp(1rem, 1.8vw, 1.4rem);
}

.Social-media ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 0;
}

.Social-media button{
    background: none;
    border: none;
    cursor: pointer;
}

.Social-media img{
    width: clamp(24px, 4vw,32px);
    height: clamp(24px, 4vw, 32px);   
}



/* HOME PAGE*/

.home-hero img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
    margin-bottom: 8rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}


.Home{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 0 3rem 4rem 3rem;
    max-width: 1200px;
    margin: auto;
}

.info-box{
    display:flex;
    align-items:stretch;
    overflow: hidden;
    margin-bottom: 80px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.info-box img{
    width: 50%;
    object-fit: cover;
}

.info-box .Hometext {
    color: white;
    width: 50%;
    padding: 3rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;    
    font-size: 2.4rem; 
}

.info-box h2 {
    width: 100%;         
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 0;
    font-size: 4.2rem;
}


.blue {background-color:#0064C8}
.green {background-color:#45A434}
.orange {background-color:#E26A00}



/* ABOUT US PAGE */
.about-us{
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px 20px;
}

.about-us h2{
    font-size: 5rem;
    margin-bottom: 20px;
    text-align: center;
}

.about-us p{
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: 80px;
}



/* EXPLORE PAGE */

.explore{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 1500px;
    margin: auto;
    padding: 1rem;
    
}

.explore section{
    padding: 1.5rem;
    border-radius: 12px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 1.5rem;
}

.explore h2{
    margin-top: 0;
    font-size: 3rem;

}

.explore img{
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.explore section:nth-of-type(1){ background-color: #0064C8;}
.explore section:nth-of-type(2){ background-color: #ffffff;}
.explore section:nth-of-type(3){ background-color: #45A434;}
.explore section:nth-of-type(4){ background-color: #ffffff;}
.explore section:nth-of-type(5){ background-color: #E26A00;}

.explore section:nth-of-type(1) p { color: #ffffff; }
.explore section:nth-of-type(2) p { color: #000000; }
.explore section:nth-of-type(3) p { color: #ffffff; }
.explore section:nth-of-type(4) p { color: #000000; }
.explore section:nth-of-type(5) p { color: #ffffff; }

.explore section:nth-of-type(1) h2 { color: #ffffff; }
.explore section:nth-of-type(2) h2 { color: #0064C8; }
.explore section:nth-of-type(3) h2 { color: #ffffff; }
.explore section:nth-of-type(4) h2 { color: #45A434; }
.explore section:nth-of-type(5) h2 { color: #ffffff; }


.explore p{
    font-size: 1.9rem;
    line-height: 1.4;
}

.explore section .text{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


/* EVENTS PAGE */

.events-hero{
    position: relative;
    width: 100%;
    max-height: 400px;
    overflow: hidden;
}

.events-hero img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;

}

main .events{
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

main h2{
    font-size: 4rem;
    margin-bottom: 40px;
    text-align: center;
}

.events{
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 50px;
    font-size: 1.6rem;
}

.events figure{
    margin: 0;
}

.events img{
    width: 220px;
    height: auto;
}

.events h3{
    font-size: 3.0rem;
    margin-top: 0;
    margin-bottom: 10px;
}

.blue-events { color: #0064C8; }
.green-events { color: #45A434; }
.orange-events { color: #E26A00; }




/* VISIT PAGE */

.hero-visit {
  position: relative;     
  width: 100%;
  max-height: 400px;      
  overflow: hidden;
}

.hero-visit img {
  width: 100%;
  height: 100%;
  object-fit: cover;      
  display: block;
}

.hero-visit h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  color: white;
  text-align: center;
  font-size: 4rem;
  padding: 1rem 2rem;
  border-radius: 6px;
}



.visit {
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding: 2rem;
  gap: 2rem;
  margin: 0 auto;
  max-width: 1400px;
}


.visit-img img {
  display: block;
  height: 100%;
  max-height: 900px;
  width: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.visit-info {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1 rem;
}

.hours {
  background-color: #45A434;
  color: white;
  padding: 2rem;
  flex: 2; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

}

.hours ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 2rem;
  line-height: 5rem;
}

.hours ul li{
    display: flex;
    justify-content: space-between;
}

.ticket-info {
  background-color: #E26A00;
  color: white;
  padding: 2rem;
  flex: 1; 
  display: flex;
  align-items: center;
  justify-content: center; 
  margin-top: 1rem;
  font-size: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.visit-more {
  max-width: 1200px;
  margin: 4rem auto;
  padding: 0 1rem;
  line-height: 1.6;
}

.visit-more h3 {
  font-size: 2rem;
  font-weight: 600;
}

.visit-more p {
  font-size: 1.5rem;
  margin-bottom: 4rem;
}

