
body{
    margin: 0;
    padding: 0;
}



/* HEADER */

header{
    background-color: #C30031;
    color:white;
    padding: 0.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 24px;
    margin: 0;
    padding: 0;
}

nav a{
    color: white;
    text-decoration: none;
    font-size: 2rem;
}



/* FOOTER */

footer{
    Background-color: #C30031;
    color: white;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

footer h3{
    margin-bottom: 20px;
    font-size: 3rem;
}

footer p{
    margin: 24px 0;
    font-size: 1.4rem;
}

.Social-media ul{
    list-style: none;
    display: flex;
    gap: 16px;
    padding: 0;
}

.Social-media button{
    background: none;
    border: none;
    cursor: pointer;
}

.Social-media img{
    width: 32px;
    height: 32px;   
}



/* HOME PAGE*/

.home-hero img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
    margin-bottom: 8rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}


.Home{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 0 3rem 4rem 3rem;
    max-width: 1200px;
    margin: auto;
}

.info-box{
    display:flex;
    align-items:stretch;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 80px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.info-box img{
    width: 50%;
    object-fit: cover;
}

.info-box .Hometext {
    color: white;
    width: 50%;
    padding: 3rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;    
    font-size: 2.4rem; 
}

.info-box h2 {
    width: 100%;         
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 0;
    font-size: 4.2rem;
}


.blue {background-color:#0064C8}
.green {background-color:#45A434}
.orange {background-color:#E26A00}



/* ABOUT US PAGE */
.about-us{
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px 20px;
}

.about-us h2{
    font-size: 5rem;
    margin-bottom: 20px;
    text-align: center;
}

.about-us p{
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: 80px;
}



/* EXPLORE PAGE */

.explore{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 1500px;
    margin: auto;
    padding: 1rem;
    
}

.explore section{
    padding: 1.5rem;
    border-radius: 12px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 1.5rem;
}

.explore h2{
    margin-top: 0;
    font-size: 3rem;

}

.explore img{
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.explore section:nth-of-type(1){ background-color: #0064C8;}
.explore section:nth-of-type(2){ background-color: #ffffff;}
.explore section:nth-of-type(3){ background-color: #45A434;}
.explore section:nth-of-type(4){ background-color: #ffffff;}
.explore section:nth-of-type(5){ background-color: #E26A00;}

.explore section:nth-of-type(1) p { color: #ffffff; }
.explore section:nth-of-type(2) p { color: #000000; }
.explore section:nth-of-type(3) p { color: #ffffff; }
.explore section:nth-of-type(4) p { color: #000000; }
.explore section:nth-of-type(5) p { color: #ffffff; }

.explore section:nth-of-type(1) h2 { color: #ffffff; }
.explore section:nth-of-type(2) h2 { color: #0064C8; }
.explore section:nth-of-type(3) h2 { color: #ffffff; }
.explore section:nth-of-type(4) h2 { color: #45A434; }
.explore section:nth-of-type(5) h2 { color: #ffffff; }


.explore p{
    font-size: 1.9rem;
    line-height: 1.4;
}

.explore section .text{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}



/* EVENTS PAGE */

main .events{
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

main h2{
    font-size: 4rem;
    margin-bottom: 40px;
    text-align: center;
}

.events{
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 50px;
    font-size: 1.6rem;
}

.events figure{
    margin: 0;
}

.events img{
    width: 220px;
    height: auto;
    border-radius: 4px;
}

.events h3{
    font-size: 3.0rem;
    margin-top: 0;
    margin-bottom: 10px;
}

.blue-events { color: #0064C8; }
.green-events { color: #45A434; }
.orange-events { color: #E26A00; }




/* VISIT PAGE */


.hero-visit{
    
}