

header{
    background-color: #C30031;
    color:white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 28px;
}

nav ul{
    list style: none;
    display: flex;
    gap: 24px;
    list-style-type: none;
}

nav a{
    color: white;
    text-decoration: none;
    font-size: 28px
}